


body {
    background-repeat: no-repeat;
    background-size: 100% 470%;
    background-image: url(/assets/images/background5.png)
}
#title {
    height: 203px;
}
#title1 {
    text-align: center;
	font-size: 90px;
    color: darkred;
    line-height: .9

}
#hands {
    height: 153px;
}
#leftHand {
    position: fixed;
    right: 10%;
    top: 25%;
    width: 150px;
    height: 150px;
    float: left;
}
#scoreBoard {
    color: white;
    background-color: black;
    border: solid;
    border-color: brown;
    border-radius: 12px;
    font-size: 20px;
    width: 38%;
    text-align: center;
    height: 140px;
    position: fixed;
    left: 30%;
    top: 30%;
}
#rightHand {
    position: fixed;
    left: 10%;
    top: 25%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
#timer {
    text-align: center;
    color: brown;
    font-size: 50px;
    width: 80px;
    background-color: black;
    border: solid;
    border-color: firebrick;
    border-width: 9px;
    height: 64px;
    border-radius: 25%;
    position: fixed;
    left: 45%;
    bottom: 40%;
}

#Question {
    text-align: center;
    font-size: 30px;
    color: brown;
    font-weight: 900;
    background-color: black;
    border-radius: 12px;
    border-color: brown;
    border: solid;
    border-width: .5px;
    position: fixed;
    left: 3%;
    bottom: 33%;
    width: 95%;
}
#answers {
    position: fixed;
    left: 15%;
    bottom: 1%;
    background-color: black;
    border-radius: 12px;
    border: solid;
    border-width: 1px;
    width: 70%;
    height: 192px;
}
.ans:hover {
    color: sandybrown;
    cursor: -webkit-grab;
}
.ans {
    line-height: 1;
    color: brown;
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}

